* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-text: rgb(63, 63, 63);
    --main-background: rgb(184, 184, 184);
}

html {
    scroll-behavior:smooth;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-text{
    position:absolute;
    font-family: "Allerta Stencil";
    font-size: 14px;
    bottom: 10vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: var(--main-text);


}
  


#hk_background{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 2;
}
.navbar{
    position: fixed;
    height:6vh;
    width: 100%;
    z-index: 100;
    background-color: rgb(184, 184, 184);
    
}
.navbar-nav{
    align-items: center;
    text-align: end;
    padding-right: 15px;
}

.nav-item{
    font-size: 18px;
    font-family:"Allerta Stencil";
    right:0px;
}
.cover-page{
    position: relative;
    height: 100;
    
}

.container-welcome{
    position:absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}


.welcome-text{
    color: rgb(63, 63, 63);
    font-family: "Allerta Stencil", "sans-serif";
    font-size: 50px;

}
.scroll-div{
    position: absolute;
    width: auto;
    height: 100%;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    align-items: center;


}

a.scroll-text{

    background-color: var(--main-background);
    font-family: "Allerta Stencil";
    font-size: 25px;
    color: var(--main-text);
       
    


}
.home-btn{
    padding-left: 20px;
    font-family: "Allerta Stencil";
    font-size: 18px;
    color: var(--main-text);
}

.profile-pic{
    position: absolute;
    width: 18vh;
    height:auto;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.aboutme-section{
    position:relative;
    width: 100%;
    background: white;
    height: 100vh;
} 


.subject-text{   
    font-family:"Allerta Stencil";
    font-size: 30px;
    color: var(--main-text);
    text-align: center;
}

.lead{
    font-size: 20px;
    font-family:"Allerta Stencil";
    width: 90vh;
    
    height:auto;
    color: var(--main-text);
    text-align: center;
}
.jumbotron{
    height:100vh;
    position: absolute;
    /* padding: 500px 0px 0px; */
    top: 50vh;
}

.projects-page{
    position: relative;
    text-align: center;
    height: 100vh;
    
}
.carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.slide{
    width:640px;
    height:360px;

}
.sr-only{
    color: var(--main-text);
}

.carousel-caption{
    color: var(--main-text);
    background-color: var(--main-background);
    opacity: 0.8;

    
}

#MC_background{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    opacity: 0.4;

}

.projects-page h2{
    font-family:"Allerta Stencil";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    z-index: 2;
    color: var(--main-text);
}

.projects-img{
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 2;
    margin: auto;

}

.projects-img img {
    width: 80vh;
    height: auto;
    position: absolute;
    transform: translate(-50%,0);
}
   


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
  }

.next {
    right: 30%;
    border-radius: 3px 0 0 3px;
  }
.prev {
    left: 30%;
    border-radius: 3px 0 0 3px;
}

.project-img{
    display: none;
}

.contact-page {
    height: 100vh;

}


/* @media only screen and (max-width: 768px) {
    .container-aboutme{
        position:absolute;
        width: 200px;
        height:200px;
    
    }
} */
