* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-text: rgb(63, 63, 63);
    --main-background: rgb(184, 184, 184);
}

html {
    scroll-behavior:smooth;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-text{
    font-family: "Allerta Stencil";
    font-size: 14px;
    color: var(--main-text);
}
  
.to-aboutme{
    padding-top: 20vh;
    text-align: center;
}

#hk_background{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 2;
}
.navbar{
    position: fixed;
    height:6vh;
    width: 100%;
    z-index: 100;
    background-color: rgb(184, 184, 184);
    
}
.navbar-nav{
    align-items: center;
    text-align: end;
    padding-right: 15px;
}

.nav-item{
    font-size: 18px;
    font-family:"Allerta Stencil";
    right:0px;
}
.cover-page{
    position: relative;
    height: 100;
    
}

.container-welcome{
    position:absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}


.welcome-text{
    color: rgb(63, 63, 63);
    font-family: "Allerta Stencil", "sans-serif";
    font-size: 50px;

}
.scroll-div{
    position: absolute;
    width: auto;
    height: 100%;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    align-items: center;


}

a.scroll-text{

    background-color: var(--main-background);
    font-family: "Allerta Stencil";
    font-size: 25px;
    color: var(--main-text);
       
    


}
.home-btn{
    padding-left: 20px;
    font-family: "Allerta Stencil";
    font-size: 18px;
    color: var(--main-text);
}

.profile-pic{
    position: absolute;
    width: 18vh;
    height:auto;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.aboutme-section{
    position:relative;
    width: 100%;
    background: white;
    height: 100vh;
} 


.subject-text{   
    font-family:"Allerta Stencil";
    font-size: 30px;
    color: var(--main-text);
    text-align: center;
}


.lead{
    font-size: 20px;
    font-family:"Allerta Stencil";
    width: 90vh;
    
    height:auto;
    color: var(--main-text);
    text-align: center;
}
.jumbotron{
    height:100vh;
    position: absolute;
    /* padding: 500px 0px 0px; */
    top: 50vh;
}

.to-go{
    bottom: 10vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    position:absolute;
    z-index: 10;
}






.projects-page{
    position: relative;
    text-align: center;
    height: 100vh;
    
}
.carousel{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.slide{
    width:960px;
    height:540px;

}
.sr-only{
    color: var(--main-text);
}

.git-href{
    position: absolute;
    right:10vw;

}

.carousel-caption{    
    background-color: var(--main-background);
    opacity: 0.8;
    bottom:0;
    height:10vh;
    width: 100%;
    left: 0;
    padding: 12px 20px 12px; 
    
}
.carousel-caption h5{
    color: var(--main-text);
    font-family:"Allerta Stencil";
    font-size: 16px;
}
.carousel-caption p{
    color: var(--main-text);
    font-family:"Allerta Stencil";
    font-size: 13px;
}

#MC_background{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    opacity: 0.4;

}

.projects-page h2{
    font-family:"Allerta Stencil";
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 40px;
    z-index: 2;
    color: var(--main-text);
}




.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
  }

.next {
    right: 30%;
    border-radius: 3px 0 0 3px;
  }
.prev {
    left: 30%;
    border-radius: 3px 0 0 3px;
}

.project-img{
    display: none;
}

.contact-page {
    height: 100vh;
    position: relative;
    background-color: var(--main-background)

}

.cover-background{
    background-color:white;
    height: 40vh;
}

.card{
    position: absolute;
    background-color: var(--main-background);
    color: var(--main-text);
    top:60vh;
    left:50vw;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 70vh;
    opacity: 0.8;
}
.contact-me{
    font-family:"Allerta Stencil";
    position: absolute;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 40px;
    z-index: 2;
    color: var(--main-text);
}

.card-header{
    color: var(--main-text);
    font-family:"Allerta Stencil";
    text-align: center;
    font-size: 18px;
}
.card-title{
    color: var(--main-text);
    font-family:"Allerta Stencil";
}

.card-text{
    color: var(--main-text);
    font-family:"Allerta Stencil";
}

.contact-list{
    color: var(--main-text);
    font-family:"Allerta Stencil";
    font-size: 15px;
}


.card-body a{
    padding: 25px;
  }

.contact-header{
    color: var(--main-text);
    font-family:"Allerta Stencil";
    text-align: center;
    font-size: 18px;
}
.contact-form form input{
    color: var(--main-text);
}
.contact-list{
    position: absolute;
    bottom:30vh;
    left: 50vw;
    list-style-type: none;
    margin: auto;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
    
    
}

.contact-list a {
    padding:10%;

}

.contact-list a img {
    border: 3px solid var(--main-text);
    padding:5px;
}
/* @media only screen and (max-width: 768px) {
    .container-aboutme{
        position:absolute;
        width: 200px;
        height:200px;
    
    }
} */
